body{
	margin:0;
	padding:0;
	background-color: #dfe6e9;
}
.container{
	width: 80%;
	height: auto;	
	margin: 0 auto;
}
h2{
	margin: 0;
	text-align: center;
	font-family: verdana;
}
.main h2{
	padding-top: 40px;
}
.header h2{
	padding-top: 200px;
}
.intro h2{
	padding-top: 140px;
}
.box h2{
	padding-top: 290px;
}
.footer h2{
	padding-top: 50px;
}
.logo, .nav, .header, .intro, .box, .footer{
	background-color: #b2bec3;
}
.main{
	height:120px;
	overflow: hidden;
	margin-bottom: 20px;
}
.logo{
	width: 20%;
	height: 120px;
	float: left;
}
.nav{
	width: 79%;
	height: 120px;
	float: right;
}
.header{
	height: 400px;
	margin-bottom: 20px;
}
.intro{
	height: 300px;
	margin-bottom: 20px;
}
.flex-box{
	height: 600px;
	display: flex;
	justify-content: space-between;
    margin-bottom: 20px;
}
.box{
	height: 600px;
	width: 32%;
}
.footer{
	height:120px;
}